canvas {
    border: solid black 1px;   
}
#canvas-container {
    vertical-align: middle;
}
.fit-content, .bottom-footer {
    position : absolute;
}
.fit-content {
    top : 90px;
    bottom : 60px;
    left : 0;
    right : 0;
}
.fit-content > div {
    height : 100%;
}
.bottom-footer {
    bottom : 0;
    width : 100%;
}
.yellow-bg {
    /* background-color: yellow; */
    text-align: center;
}