
/* check out http://jsbin.com/azivip/2/edit */
#canvas-container {
    position:relative;
    bottom:0px;
    width:100%;
    height:100%;
}
canvas {
    /* canvas height and width must be set by javascript or by element attribute code */
    position: absolute;
    border: solid black 1px;
    left: 0;
    top: 0;
}
